html {
    margin: 1em;
    background-color: lightslategray;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: x-large;
    background-color: lightslategray;
}

h3 {
    text-decoration: underline;
}

button {
    position: absolute; 
    right: 10px; 
    top: 5px; 
    margin: 10px;
}

.card {
    margin: 1em;
    padding: 1em;
    border: solid 1px black;
}

@media (min-width: 1024px) {
    html {
        background-color: lightgray;
    }

    body {
        background-color: lightgray;
        font-size: x-large;
    }

    .card {
        margin: 1em;
        padding: 1em;
    }

}
