html {
    margin: 1em;
    background-color: #3A424A;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: x-large;
    background-color: #3A424A;
}

h1 {
    color: white;
}

h3 {
    text-decoration: underline;
    color: slategrey;
}

button {
    position: absolute; 
    right: 10px; 
    top: 5px; 
    margin: 10px;
}

#app {
    color: white;
}

.card {
    margin: 1em;
    padding: 1em;
    border: solid 1px black;
    background-color: #E2DBAC;
    color: #966F33;
}

@media (min-width: 1024px) {
    html {
        background-color: #3A424A;
    }

    body {
        background-color: #3A424A;
        font-size: x-large;
    }

    .card {
        margin: 1em;
        padding: 1em;
        background-color: #E2DBAC;
        color: #966F33;
    }

}
